<div class="container myform-align " style="text-align: center; padding-top:2em">
  
  <form>
  
    <div class="form-group">
      <mat-tab-group dynamicHeight>
          <mat-tab *ngFor="let car of Car;" [label]="car.Type">
            <div class="example-large-box mat-elevation-z4 ">
               
              <div class="button-row">
                      <button mat-raised-button  
                      *ngFor="let name of car.Name;let i = index"
                      
                       color="primary" (click)="fun(name,i)" >
                     {{ name }}
                    
                      </button>
                      
            </div>
             <br>
             <br>

            

            </div>
          </mat-tab>
        </mat-tab-group>

          
            <br> 

&nbsp; &nbsp; &nbsp; 

        <div >
            <font size = 30 >
          
              Car Type : {{CarType}}
              <br>
              Car Name : {{CarName}}
              <br>
              Cost : {{CarPrice}}
              <br>
            </font>
              <mat-form-field >
                  <mat-select placeholder="Color" class="form-control"  >
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let colour of CarColour;" [value]="colour">{{colour}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="example-form form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Car Number"  required>
                    </mat-form-field>
                 </div> 
        </div>

    </div>

  </form>

</div>